<!-- List all the Blogs in Database -->

<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
{{!-- <div class="row mb-4 blog"> --}}
    {{!-- <div class="row mb-4 blog container.container-fluid"> --}}
    <div class="flex-row mb-4 blog">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="title-container">
                        <p class="text-light">
                            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
                        </p>
                        <p class="metadata">
                            Posted by {{blog.user.name}} on {{format_date blog.date_created}}
                        </p>
                    </div>
                </div>
                <div class="card-body text-dark green">
                    <p>
                        {{blog.post}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}