<!-- PROFILE Handlebar-->
<div class="col-auto">
  <h1>Welcome {{userName}}!</h1>
</div>
<div class="flex-column">
    <!-- List all BLOGS by current user logged in -->
    {{#if blogs.length}}
    <div class="col-md-6 project-list mt-2">
      <h3>Current Blogs you've written:</h3>
      <div>
        {{#each blogs as |blog|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <p>
              <a href="/blog/{{blog.id}}" class="text-dark ml-2">
                <strong>{{blog.title}}</strong>
                <span class="small text-dark">written on {{ format_date blog.date_created}}</span>
              </a>
            </p>
          </div>
          <div class="col-md-4">
            <!-- DELETE Button to remove a blog -->
            <button type="click" class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
    {{/if}}
</div>


<!-- PROFILE - Allow user to Create a NEW BLOG -->

<div class="col-md-5 mt-5">
  <h3>Create a New Blog:</h3>

  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Blog Title:</label>
      <input class="form-input" type="text" id="project-name" name="project-name" />
    </div>
    <div class="form-group">
      <label for="project-desc">Blog Post:</label>
      <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

<script src="./js/profile.js"></script>